<%= form_with model: [@post, @post.comments.build] do |form| %>

  <div class="field py-2">
    <%= form.label "Comment", class: "pb-2" %>
    <%= form.text_area :body, class: "form-control" %>
  </div>

  <div class="actions py-2">
    <%= form.submit(class: "btn btn-info") %>
  </div>
<% end %>
