// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.header {
  background-image: image-url('blog.jpg');
  padding: 20px 0 100px;
  background-position: 50% 50%;
  background-size: cover;
  margin-bottom: 20px;
}

.header h1 {
  color: white;
}
.post-wrap {
  padding: 5px;
}
.post-list {
  padding: 10px;
  margin: 5px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
}
.author-header {
  color: white;
}
.auth-warning {
  color: white;
}
.author-post-item {
  font-size: 12px;
  font-style: italic;
  text-align: right;
  margin: 10px 0;
}
.comment-wrap {
  position: relative;
}
.comment-add {
  position: absolute;
  font-size: 10px;
  font-style: italic;
  color: #6c757d;
  right: 5px;
  top: -5px;
}
.comment-status {
  position: absolute;
  font-size: 10px;
  font-style: italic;
  color: #ffffff;
  padding: 0 5px;
  background-color: #dc3545;
  border-radius: 3px;
  right: 5px;
  top: 10px;
}
.comment-edit {
  position: absolute;
  font-size: 10px;
  font-style: italic;
  color: #6c757d;
  right: 5px;
  top: 25px;
}
.header-stick {
  padding: 5px 0;
}
.display-author {
  display: inline-block;
  vertical-align: sub;
  font-size: 16px;
  margin: 0;
}