// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.header {
  background-image: image-url('blog.jpg');
  padding: 20px 0 100px;
  background-position: 50% 50%;
  background-size: cover;
  margin-bottom: 20px;
}

.header h1 {
  color: white;
}
.post-wrap {
  padding: 5px;
}
.author-header {
  color: white;
}
.autor-post-item {
  font-size: 12px;
  font-style: italic;
}